@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display");
h1 {
  font-size: 75px;
  color: #fd0ca5;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 50px;
    margin-bottom: -20px;
  }
}

svg {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

blockquote {
  font-size: 25px;
}

.homepage {
  overflow: hidden;
}
.homepage ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.homepage a {
  margin-right: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #760cfd;
}
.homepage a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .homepage a {
    font-size: 18px;
  }
}
.homepage .container {
  text-align: center;
  color: grey;
  font-family: "Lato", sans-serif;
}
.homepage .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}
@media screen and (max-width: 650px) {
  .homepage .logo {
    width: 100%;
  }
}

.coc {
  width: 80%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
.coc a {
  text-decoration: none;
  color: #fd0ca5;
}
.coc img {
  width: 150px;
  margin-top: 50px;
  margin-left: 20px;
}
@media screen and (max-width: 650px) {
  .coc img {
    width: 100px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .title {
    flex-direction: column;
  }
}
